<h3 class="title">Cardápio</h3>

<!--FORMULÁRIO PARA CRIAR INCLUSAO DE PRODUTOS-->
<form [formGroup]="form" (ngSubmit)="adicionarProduto()">
    <input formControlName="nome" type="text" value="Nome" /> R$
    <input formControlName="preco" type="number" />
    <input [disabled]="form.invalid" type="submit" value="Adicionar" />

</form>
<table class="produtos">
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
    </tr>
    <!--EXIBIÇÃO DOS AQUIVOS-->
    <tr *ngFor="let produto of produtos">
        <td>{{produto.id}}</td>
        <td>{{produto.nome}}</td>
        <td>{{produto.preco}}</td>
        <!--BOTÃO PARA EXCLUIR UM ITEM -->
        <td>
            <button (click)="excluir(produto)">Excluir</button>
        </td>
    </tr>

</table>
