<h3>Cardápio</h3>

<!--FORMULÁRIO PARA CRIAR INCLUSAO DE PRODUTOS-->
<form [formGroup]="form">
    <input formControlName="name" type="text" value="Nome" /> R$
    <input formControlName="preco" type="number" />
    <input [disabled]="form.invalid" type="submit" value="Adicionar" />

</form>
<table>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
    </tr>
    <!--EXIBIÇÃO DOS AQUIVOS-->
    <tr *ngFor="let produto of produtos">
        <td>{{produto.id}}</td>
        <td>{{produto.nome}}</td>
        <td>{{produto.preco}}</td>
        <!--BOTÃO PARA EXCLUIR UM ITEM -->
        <td><button>Excluir</button></td>
    </tr>

</table>
